.header{
  background-color: red;
  color: #fff;
  height: 150px;
}
.menu{
  background-color: yellow;
  color: #fff;
  height: 150px;
}
.content{
  background-color: green;
  color: #fff;
  height: 150px;
}
.footer{
  background-color: blue;
  color: #fff;
  height: 150px;
}
.row , .col-4, .col-8{
  width: 100%;
  padding: 0;
}